# Code owners auto-assign reviewers for PRs
# Assign to the repo owner by default
* @JRW2612

# Specific areas
PersonalAIAssistant.Memory.Business/ @JRW2612
PersonalAIAssistant.Memory.Infrastructure/ @JRW2612
*.yml @JRW2612
